[Desktop Action open]
Exec=/home/dimon/work/shell/simplebackup/backup.sh
Icon=drive-removable-media-usb
Name=Backup
Name[ru]=Резервная копия
Name[ua]=Зберегти копiю

[Desktop Entry]
Actions=open;
Type=Service
X-KDE-Action-Custom=true
# X-KDE-Solid-Predicate=[[[[StorageVolume.ignored == 'false' AND StorageVolume.usage == 'FileSystem'] OR [IS StorageAccess AND StorageDrive.driveType == 'Floppy']] OR StorageAccess.accessible == 'false'] AND StorageVolume.label  & 'BACKUP']
X-KDE-Solid-Predicate=[[[[StorageVolume.usage == 'FileSystem' AND StorageVolume.label  & 'BACKUP'] AND StorageVolume.ignored == 'false'] OR [IS StorageAccess AND StorageDrive.driveType == 'Floppy']] OR StorageAccess.accessible == 'false']
