[Desktop Action open]
Exec=/home/dimon/work/shell/simplebackup/backup.sh %f E4300
Icon=drive-removable-media-usb
Name=Backup
Name[ru]=Резервная копия
Name[uk]=Зберегти копiю

[Desktop Entry]
Actions=open;
Type=Service
X-KDE-Action-Custom=true
X-KDE-Solid-Predicate=[[[StorageVolume.usage == 'FileSystem' AND StorageVolume.ignored == 'false'] AND StorageAccess.accessible == 'false'] AND StorageVolume.label == 'BACKUP']
